
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Roboto', sans-serif;
    background-color: #DFE0DF;
}
/* HEADER HEADER HEADER */
header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(to top, rgb(255, 136, 0) , rgb(255, 200, 0));
    font-family: 'Bebas Neue', sans-serif;
}

.home-icon {
    display: none;
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
    margin-left:0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 183, 0);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  .dropdown-content a {
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
  }

  .dropdown-content a:hover {
    background-color: white;
    color: rgb(255, 183, 0) ;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
}

#about {
    text-decoration: underline;
}

.nav {
    display: none;
}

.my-name {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 0.7rem;
    margin: 0.1rem;
    height: 3rem;
    overflow: hidden;
    animation: big 1.5s linear forwards;
}

@keyframes big {
    0%  {
        color: rgb(255, 183, 0);
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%) scale(1.5);
    }
}
/* MAIN MAIN MAIN */
main {
    margin: 0;
    /* padding: 1rem; */
    background-color: #DFE0DF;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.banner {
    text-align: center;
    margin: 0;
    border-radius: 0.5rem;
    padding: 0.4rem;
    color: orange;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    width: 100%;
    border-top: 0.2rem solid orange;
    border-bottom: 0.2rem solid orange;
    background-color: #FFF7EB;
    box-shadow: 0.2rem 0.2rem 0.2rem #B8A99A;   
}

.banner:hover{
    cursor: pointer;
    transition: 0.4s;
    transform: scale(1.03);
}

.about-me-div{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.contact-btn {
    background-color: rgb(255, 183, 0);
    color: white;
    font-size: 1rem;
    font-family:'Roboto', sans-serif;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    border: 0.1rem solid white; 
}

.contact-btn:hover {
    color: rgb(255, 183, 0);
    background-color: white;
    border: 0.1rem solid rgb(255, 183, 0); 
}


.img-logos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eva-logo {
    width: 35%;
    height: 35%;
    margin: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5%;
}

.stevie-logo {
    width: 25%;
    height: 25%;
    margin: 0.5rem 0.5rem;
    border-radius: 50%;
}

.logo{
    height: 3rem;
    opacity: 0.8;
    margin-bottom: 0.5rem;
    
}

article {
    margin-top: 1rem;
    padding: 1rem;
    color: #514538;
    text-align: center;
    background-color: #FFF7EB;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #B8A99A;
}

/* tar bort ful svart border på mina rubriker */
button{
    border: none;
}

.education-work-div,
.work-div {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    width: 100%;
}


h3{
    color: orange;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
    border-top: 0.1rem solid orange;
    border-bottom: 0.1rem solid orange;
}

h4{
    color: orange;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0.5rem 0;
}


p {
    margin: 1.5rem 0;
    line-height: 1.5;
}

.card {
    width: 100%;
}

.skills-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-bottom: 1rem; */
}

.skills {
    padding: 1rem;
}

.skills img {
    height: 4rem;
    margin: 0;
}

.tech-skills-h4 {
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
    letter-spacing: 0.1rem;
}

.tech-lists {
    display: flex;
    justify-content: space-between;
}

.tech-lists ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orange {
    color: orange;
}

.tech-lists ul li {
    margin: 0.5rem 0;
    padding: 0;
    text-align: left;
    font-weight: 500;
}

.ref-card-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.ref-card {
    width: 100%;
    height: 100%;
    background-color: #FFF7EB;
    box-shadow: 0.2rem 0.2rem 0.2rem #B8A99A;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    color: #514538;
    height: 17rem;
}

.ref-card h4 {
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
    letter-spacing: 0.1rem;
}

.ref-card img {
    height: 2.5rem;
    opacity: 0.8;
}

/* FOOTER FOOTER FOOTER */
footer {
    background-image: linear-gradient(to bottom, rgb(255, 136, 0) , rgb(255, 200, 0));
    padding: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer svg {
    width: 3rem;
    height: 3rem;
}

footer a:hover {
    transition: 1s;
    transform: scale(1.2);
}

/* tablet breakpoint */
@media (min-width: 660px) {

    html {
        font-size: 16px;
    }

    main {
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    header {
        flex-direction: column;
    }

    .home-icon {
        display: block;
        height: 6rem;
        width: 6rem;
        margin: 0;
        position: absolute;
        left: 1rem;
        top: 1rem;
        border: 0.2rem solid white;
        border-radius: 20%;
    }

    .home-icon:hover {
        background-color: rgb(255, 183, 0);
    }

    .dropdown {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: center;
    }
    
    .nav ul {
        padding: 0;
        display: flex;
        margin-top: 0;
    }
    
    .nav li {
        list-style: none;
        display: inline;
    }
    
    .link-home,
    .link-contact,
    .link-projects {
        text-decoration: none;
        font-size: 1.5em;
        color: white;
        padding: 0 1rem;
    }
    
    .link-about {
        text-decoration: underline;
        font-size: 1.5rem;
        color: white;
        padding: 0 1rem;
    }
    
    .nav li a:hover {
        color: rgb(255, 183, 0);
        background-color: white;
    }
    
    .my-name {
        font-size: 3rem;
    }

    .education-work-div,
    .work-div{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .about-me-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article,
    .me-banner {
        max-width: 70%;
    }

    .card {
        width: 48.5%
    }

    .skills-div {
        width: 100%;
        flex-direction: row;

    }
    .skills {
        width: 32%;
    }

    .ref-card-div {
        gap: 0;
        justify-content: space-between;
    }

    .ref-card {
        width: 32%;
    }
}

/* desktop breakpoint */
@media (min-width: 920px) {

    html {
        font-size: 20px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
    }

    .skills-banner-div,
    .ref-banner-div {
        width: 100%;
    }

/* 
    .about-me-div,
    .education-work-div {
            max-width: 1000px;
        } */
}

/* extra large screen breakpoint */
@media (min-width: 1100px) {
    
    html {
        font-size: 20px;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-icon {
        position: sticky;
        height: 8rem;
        width: 8rem;
        /* margin-bottom: 1rem; */
    }
    
    .amberscript-logo {
        height: 2.5rem;
        opacity: 0.8;
        margin-bottom: 0.5rem;
    }

}