*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
    margin: 0;
    font-family:'Roboto', sans-serif;
}
/* HEADER HEADER HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-image: linear-gradient(to top, rgb(255, 136, 0) , rgb(255, 200, 0));
    font-family: 'Bebas Neue', sans-serif;
}

.home-icon {
    display: none;
}

.menu-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    /* margin: 0;
    margin-left:0; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 183, 0);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  .dropdown-content a {
    color: white;
    padding:1rem;
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
  }

  .dropdown-content a:hover {
    background-color: white;
    color: rgb(255, 183, 0) ;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
}

#home {
    text-decoration: underline;
}

.nav {
    display: none;
}

.my-name {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.7rem;
    margin: 0.1rem;
    height: 3rem;
    overflow: hidden;
    animation: big 1.5s linear forwards;
}


@keyframes big {
    0%  {
        color: rgb(255, 183, 0);
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%) scale(1.5);
    }


}


/* MAIN MAIN MAIN */
main {
    margin: 0;
    padding: 1rem;
    background-color: #DFE0DF;
    min-height: 85vh;
}

.profile-div {
    display: flex;
    flex-direction: column;
}

.profile-card {
    border-radius: 0.5rem;
    width: 100%;
    height: 17rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #B8A99A;

}

.profile-picture {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    color: white;
    background-image: url(../images/profile-test.jpg);
    background-size: cover;
}

.profile-picture h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.1rem;
    background-color: rgb(255, 183, 0);
    padding: 0;
    width: 83%;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 100;
    text-align: center;

}

.profile-text {
    padding: 1rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
    background-color: #FFF7EB;
}

.profile-text p {
    margin: 0;
    margin-top: 0.5rem;
    line-height: 1.5;
    color: #514538;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-button {
    background-color: rgb(255, 183, 0);
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    text-align: center;
    border: 0.1rem solid white; 
}

.about-me-button:hover {
    color: rgb(255, 183, 0);
    background-color: white;
    border: 0.1rem solid rgb(255, 183, 0); 
}

.about-me h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.75rem;
    font-weight: 100;
    margin: 0;
    color: orange;
    letter-spacing: 0.1rem;
}

/* .portfolio-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
} */

.banner {
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 0.4rem;
    color: orange;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    width: 100%;  
    border-top: 0.2rem solid orange;
    border-bottom: 0.2rem solid orange;
    background-color: #FFF7EB;
    box-shadow: 0.2rem 0.2rem 0.2rem #B8A99A;    
}

/* källa: https://codepen.io/ekeric13/pen/wKOwmg */
.carousel {
    position: relative;
    width: 90%;
    height: 280px; 
    margin: 0 auto;
    gap: 1rem;
  }
  
  .carousel-content {
    position: relative;
    overflow: hidden;
    transition: width .4s;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .slide {
    /* height: 100%; */
    width: 100%;
    position: absolute;
    /* z-index: 2; */
    transition: left .4s cubic-bezier(.47,.13,.15,.89);
  }
  

  .carousel-nav {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    background-color: rgba(150,150,150,.3);
    width: 1.8rem;
    height: 1.8rem;
    /* z-index: 3; */
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  .carousel-nav:hover {
    transform: scale(1.4);
    transition: 0.5s;
    color: rgb(255, 183, 0);
  }
  
  .nav-left {
    left: -30px;
  }
  
  .nav-right {
    right: -25px;
  }
  
  .carousel-arrow-icon-left {
    margin-right: 2px;
    margin-bottom: 2px;
  }
  
  .carousel-arrow-icon-right {
    margin-left: 3px;
    margin-bottom: 2px;
  }
.project-card {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    color: #514538;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #FFF7EB;
    box-shadow: 0.2rem 0.2rem 0.2rem #B8A99A;
    letter-spacing: 0.1rem;   
}

.project-card h4 {
    margin: 0rem;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
    margin-bottom: 0.5rem;
    color: orange;
}


.project-desc {
    font-family:'Roboto', sans-serif;
    font-size: small;
    text-align: center;
    margin: 0;
    line-height: 1.5;
}


.card-btn {
    background-color: rgb(255, 183, 0);
    color: white;
    font-size: 1rem;
    font-family:'Roboto', sans-serif;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    border: 0.1rem solid white; 
}

.card-btn:hover {
    color: rgb(255, 183, 0);
    background-color: white;
    border: 0.1rem solid rgb(255, 183, 0); 
}

.inside-card-btn {
    background-color: rgb(255, 183, 0);
    color: white;
    font-size: 1rem;
    font-family:'Roboto', sans-serif;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    border: 0.1rem solid white; 
}


.inside-card-btn:hover {
    color: rgb(255, 183, 0);
    background-color: white;
    border: 0.1rem solid rgb(255, 183, 0); 
}


img {
    width: 90%;
    height: auto;
    opacity: 0.85;
    margin: 1rem 0;
}


/* MODAL STYLING */
.modal {
    display: none;
}

.modal-showing{
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.612);
    z-index: 100; 
}

.modal-content {
    background-color: #FFF7EB;
    margin: 15% auto;
    padding: 1rem;
    width: 70%;
    max-width: 400px;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    color: #514538;
    font-size: 1rem;
}

.modal-content p {
    font-family:'Roboto', sans-serif;
    letter-spacing: normal;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.modal-content h4 {
    font-size: 1.7rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(255, 136, 0);
    text-decoration: none;
    cursor: pointer;
}


/* FOOTER FOOTER FOOTER */
footer {
    background-image: linear-gradient(to bottom, rgb(255, 136, 0) , rgb(255, 200, 0));
    padding: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer svg {
    width: 3rem;
    height: 3rem;
}

footer a:hover {
    transition: 1s;
    transform: scale(1.2);
}

/* tablet breakpoint */
@media (min-width: 660px) {

    html {
        font-size: 16px;
    }

    main {
        max-width: 100%;
        /* height: 100%; */
        margin: 0 auto;
    }

    header {
        flex-direction: column;
    }

    .home-icon {
        display: block;
        height: 6rem;
        width: 6rem;
        margin: 0;
        position: absolute;
        left: 1rem;
        top: 1rem;
        border: 0.2rem solid white;
        border-radius: 20%;
    }

    .home-icon:hover {
        background-color: rgb(255, 183, 0);
    }


    .dropdown {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: center;
    }
    
    .nav ul {
        padding: 0;
        display: flex;
        margin-top: 0;
    }
    
    .nav li {
        list-style: none;
        display: inline;
    }
    
    .link-about,
    .link-contact,
    .link-projects {
        text-decoration: none;
        font-size: 1.5em;
        color: white;
        padding: 0 1rem;
    }
    
    .link-home {
        text-decoration: underline;
        font-size: 1.5rem;
        color: white;
        padding: 0 1rem;
    }
    
    .nav li a:hover {
        color: rgb(255, 183, 0);
        background-color: white;
    }
    
    .my-name {
        font-size: 3rem;
    }

    .profile-div {
        flex-direction: row;
        gap: 1rem;
    }

    .profile-card {
        width: 50%;
    }

    .profile-text{
        margin: 0;
    }

    .portfolio-div {
        justify-content: space-evenly;
    }

    .carousel {
        height: 310px; 
    }

    .project-card {
        width: 95%;
    }

    .card-3,
    .card-4 {
        margin: 0;
    }
    .project-desc{
        font-size: 0.8rem;
      }
    .project-card img {
        width: 70%;
    }
    .project-card h4 {
        font-size: 2rem;
    }
}

/* desktop breakpoint */
@media (min-width: 920px) {

    html {
        font-size: 20px;
    }


    .card-btn {
        font-size: 0.8rem;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    
    .profile-div,
    .carousel,
    .banner {
        max-width: 1000px;
    }

    .carousel {
        position: relative;
        width: 90%;
        height: 400px; 
        margin: 0 auto;
        gap: 1rem;
      }

      .nav-left {
        left: -40px;
      }    

      .modal-content {
        width: 35%;
      }

}

/* extra large screen breakpoint */
@media (min-width: 1100px) {
    
    html {
        font-size: 20px;
    }

    p {
        font-size: 1rem;
    }

    .home-icon {
        position: sticky;
        height: 8rem;
        width: 8rem;
        margin-bottom: 1rem;
    }
    .nav-left {
        left: -45px;
      }    
}

